<section class="footer">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <div>Izzi-learn</div>
            <p>It is a long established fact that 
               a reader will be distracted by the readable content of a page when
               looking at its layout. The point of</p>
         </div>
         <div class="col">
            <div class="col-lg-3 col-sm-6">
               <h2 class="useful_text">Navigation</h2>
               <div class="footer_menu">
                  <ul>
                     <li class="active"><a routerLink="/home" href="#">Home</a></li>
                     <li><a href="about.html">About</a></li>
                     <li><a href="location.html">Location</a></li>
                     <li><a href="services.html">Services</a></li>
                     <li><a href="features.html">Features</a></li>
                  </ul>
               </div>
            </div>

         </div>
            <div class="col-lg-3 col-sm-6">
               <h2 class="useful_text">Contact Info</h2>
               <h4 class="addres_link">Mantain Office Address:</h4>
               <h4 class="addres_link_1"><a href="#"><img src="images/map-icon.png"><span class="padding_left_20"> New York, NY 36524</span></a></h4>
               <h4 class="addres_link">Customer Service:</h4>
               <h4 class="addres_link_1"><a href="#"><img src="images/call-icon.png"><span class="padding_left_20">+( +01 1234567890 )</span></a></h4>
               <h4 class="addres_link_1"><a href="#"><img src="images/mail-icon.png"><span class="padding_left_20"></span></a></h4>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h2 class="useful_text">Discover</h2>
               <div class="discover_menu">
                  <ul>
                     <li><a href="#">Help</a></li>
                     <li><a href="#">How It Works</a></li>
                     <li><a href="#">subscribe</a></li>
                     <li><a href="#">Contact Us</a></li>
                  </ul>
               </div>
            </div>  
      </div>
      <div>
            <!-- copyright section start -->
      <div class="copyright_section text-center">
         <div class="container">
            <p class="copyright_text">Copyright 2023 All Right Reserved By <a href="">Izzi-learn</a> Distributed By <a href="">KRT</a></p>
         </div>
      </div>
      </div>
   </div>
</section>
   
 