.footer{
    background-color: #360E0E;
    color: white;
    margin-top: 20px;
   
}
a {
    color: white;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media (max-width: 575px){
   
}