<!--section acceuil-->
<div class="container">
<section class="section">
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-md-6 p-3">
     <h1> Le slogan<br>  
      de votre app <br>
       à mettre ici </h1>
      <h5 class="py-2">It is a long established fact that a <br> reader 
        will be distracted by the readable content</h5>
      <button class="btn bs1 px-3 mx-3">S'inscire</button>
      <button class="btn bc2 px-3">Connexion</button>
    </div>
    <div class="col-12 col-md-6 p-3">
      <img class="img-fluid" src={{image}} alt="photo">
    </div>

  </div>

</div>
</section>


<!--section classe-->
<section class="section">
  <div class="container">
    <h2>Classes</h2>
    <h6>It is a long established fact that a reader will be distracted by the readable content</h6>
    <div class="row text-center">
      <div class="col-12 col-md-4 p-3">
  
          <button class="btn bto3 btn-lg">Troisième (3ème)</button>
         
      </div>
      <div class="col-12 col-md-4 p-3">
          <button type="button" class="btn bto1 btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Première (1ére)
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
      </div>
      <div class="col-12 col-md-4 p-3">
        <button type="button" class="btn bto0 btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Terminale (T)
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>

      </div>

    </div>
  </div>


 <!--section présentation app--> 
</section>
<section  class="section">
  <div class="container">
    <h2>Comment ça marche ?</h2>
    <div class="row">
      <div class="col-12 col-md-6 p-3 shadow">

        <ol >
          <li>Si le service attend une réponse il va bloquer le composant</li>
          <li>Si le service attend une réponse il va bloquer le composant</li>
          <li>Si le service attend une réponse il va bloquer le composant</li>
          <li>Si le service attend une réponse il va bloquer le composant</li>
        </ol>
        
       
        
      </div>
      <div class="col-12 col-md-6 p-3">
        <div class="m-2">
          <img src="assets/images/ai.jpg" alt="photo" class="img-fluid">
        </div>

      </div>

    </div>
  </div>
 
</section>


<!--section service-->
<section class="section">
  <div class="container">
    <h2>Services</h2>
    <h5>It is a long established fact that a reader will be distracted by the readable content</h5>
    <div class="row">
      <div class="col-12 col-md-4 p-3 text-center">
        <div class="m-2">
          <img src="assets/images/people.jpg" alt="photo" class="img-fluid">
        </div>
        <h4>La puissance</h4>
        <h6> It is a long established fact that a reader</h6>
        <button class="btn btn-info"> Read more</button>
      </div>

      <div class="col-12 col-md-4 p-3 text-center">
        <div class="m-2">
          <img src="assets/images/boypage.jpg" alt="photo" class="img-fluid">
        </div>
        <h4>La puissance</h4>
        <h6> It is a long established fact that a  reader</h6>
          <button class="btn btn-info"> Read more</button>
      </div>
      
      <div class="col-12 col-md-4 p-3 text-center">
        <div class="m-2">
          <img src="assets/images/people.jpg" alt="photo" class="img-fluid">
        </div>
        <h4>La puissance</h4>
        <h6> It is a long established fact that a reader</h6>
        <button class="btn btn-info"> Read more</button>
      </div>

    </div>
  </div>

</section>





<!--section conctact-->
<section class="section">
  <div class="container">
    <h2 class="text-center">Avez des questions? </h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <form >
              <div class="mb-3">
                  <label class="form-label">Whatsaap</label>
                  <input class="form-control" formControlName="name">
              </div>
              <div class="mb-3">
                  <label class="form-label">phone</label>
                  <input class="form-control" formControlName="price">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
                <div class="text-center">
                  <button class="btn btn-success"> Envoyer </button>
                </div>
          </form>
      </div>
    </div>
    
  </div>
</section>
</div>
